<ul>
<%
selected_option = selected_option || options.at(0).get('value');
var selected = false;
	options.each(function(option){
		selected = (option.get('value') === selected_option);
	%><li id="option-label" data-value="<%= option.get('value') %>"><%= option.get('label') %><%= (selected) ? '<span class="tick"></span>' : '' %></li>
	<%
})%>
</ul>

<!--<% options.each(function(option){
	%><div class="option-item">
		<div class="option-label" data-value="<%= option.get('value') %>"><%= option.get('label') %></div>
	</div>
	<%
})%>-->
