
  <!-- check rule status-->
  <% if(model.get('enabled')){%>
    <div class="rule-itm" data-id="<%= model.get('id') %>">
  <%} else {%>
    <div class="rule-itm disable" data-id="<%= model.get('id') %>">
  <%}%>

      <section>
          <% if(model.get('status') > 0){%><span class="error">&#xe634</span><%}%>
          <%= model.get('name') %>
      </section>
      <div class="rule-row">
        <%var condTotal = model.get('condition').length;%>
        <%var actionTotal = model.get('execution').length;%>
        <!-- Handle 2 group div clip according to both total -->
        <% if (condTotal<=3){%>
          <span>
        <%} else if(actionTotal == 3){%>
          <span class="iconClip-0">
        <%} else if(actionTotal == 2){%>
           <span class="iconClip-1">
        <%} else if(actionTotal == 1){%>
           <% if (condTotal<5){%>
              <span class="iconClip-1">
           <%} else {%>
              <span class="iconClip-2">
          <%}%>
        <%}%>


          <% for (var i = 0; i < condTotal; i++) {%>
              <span class="icon"><%=model.get('condition').at(i).get('icon')%></span>
          <%};%>
        </span>
        <% if(condTotal > 0) {%>
          <b>&#xe000</b>
        <%}%>

         <!-- Handle 2 group div clip according to both total -->
        <% if (actionTotal<=3){%>
          <span>
        <%} else if(condTotal == 3){%>
          <span class="iconClip-0">
        <%} else if(condTotal == 2){%>
           <span class="iconClip-1">
        <%} else if(condTotal == 1){%>
           <% if (actionTotal<5){%>
              <span class="iconClip-1">
           <%} else {%>
              <span class="iconClip-2">
          <%}%>
        <%}%>

          <% for (var i = 0; i < actionTotal; i++) {%>
            <!-- check device status-->
            <span class="icon"><%=model.get('execution').at(i).get('icon')%></span>
           <!--  <% if(model.get('execution').at(i).get('status') == "off"){%>
              <span class="icon off"><%=model.get('execution').at(i).get('icon')%></span>
            <%} else {%>
              <span class="icon"><%=model.get('execution').at(i).get('icon')%></span>
            <%}%>   -->

          <%};%>
        </span>
      </div>
      <div class="device-option"><div class="rule-icon-option rule-cirle-option"></div></div>  
  </div>