<div class="device" touch="true">
	<span id="error" class="error" style="<%= (!is_error) ? 'display:none' : '' %>">&#xe634</span>
	<span class="icon"><%= icon %></span>
	<span id="label"><%= label %></span>

	<span class="delete-device" style="display:<%= (edit_mode === false) ? 'none' : 'block' %>" touch="true"><a href="<%= delete_url %>" class="nav-circle-delete icon-delete">&#xe605</a></span>
</div>