<% 
var startIdx = offset;
var endIdx = startIdx + limit;

if (endIdx >= total) {
  // correct end index
  endIdx = total;
}

var i = startIdx;
while (i < endIdx) {
  var model = this.collection.models[i];
  %>
  <div class="device-itm">
    <div id="device-control" data-id="<%= model.get('id') %>">
     <% if(!model.get('enabled')){%>
        <span id="device" class="device-icon-off" data-icon="<%= model.get('icon')!= null ? model.get('icon') : '&#xe613' %>" aria-hidden="true"></span>
        <span class="device-value"></span>
      <%} else {%>
        <span id="device" data-icon="<%= model.get('icon') %>" aria-hidden="true"></span>
        <span class="device-value"><!--<%= model.get('status') + "" + model.get('statusUnit') %>--></span>
      <%}%>
      <p class="device-name" data-id="<%= model.get('id') %>">
          <span class="itm-name"><%= model.get('name') %></span>
      </p>
    </div>
      <a href="#/device/options/<%= model.get('id') %>" class="device-option"><span class="device-icon-option device-cirle-option"></span></a>
   </div>
  <%
  i++;
}%>
