<div data-id="<%= id %>" class="device-explorer rule-<%= type %>-item device1" touch="true">
	<span class="icon"><%= (typeof icon === 'undefined') ? '&#xe64b' : icon %></span>
	<span>
		<h4 id="item-label"><%= label %></h4>
		<div><%= (typeof desc === 'undefined') ? '' : desc %></div>
	</span>
</div>