
	<span id="preview-icon" class="centerFlex preview-icon-on" data-icon="<%= icon %>" aria-hidden="true"></span>
	<p id="edit-icon"><span class="icon-edit nav-circle-edit nav-icon-edit"></span></p>
	<span class="input-icon-tag"><input id="edit-name" type="text" lang="df" placeholder="device_name" value="<%= name %>"/></span>

	<!--<div>
		<span class="opt-label">Device ID</span>
		<span class="opt-value-display"><%= id %> (<%= protocol %>)</span>
	</div>-->
	<!-- <div id="edit-type" class="clear">
		<span class="opt-label" lang="df">type</span>
		<span class="opt-value" id="label-type"><%= type %></span>
	</div> -->
	<div class="opt-2line" id="edit-type">
    	<span lang="df">type</span>
    	<span id="label-type"><%= type %></span>
    </div>
	<br><br><br><br><br>
