<li class="action-item" data-row="<%= idx %>" data-col="1" data-sizex="1" data-sizey="1">
	<div class="icon icon-delay"><%= icon %></div>
	<div class="content">
		<div class="action-desc"><%= action_desc %></div>
		<span class="location"><%= location %></span>
		<span class="option-btn" data-idx="<%= idx %>"><span class="device-icon-option device-cirle-option" touch="true"></span>
	</div>
</li>
