<li class="action-item col-xs-12 col-sm-12 col-md-12" data-idx="<%= item_idx %>">
	<div class="container1">
		<div class="status <%= status %>"></div>
		<div class="label"><%= label %></div>
		<div class="retry-btn" style="display:<%= (status == 'ok') ? 'none' : 'block' %>" data-event="retry" data-method-idx="<%= idx %>"></div>
	</div>
</li>