<li class="scene-list-item col-xs-6 col-sm-4 col-md-3" data-id="<%= item.id %>">
	<a href="#/scene/favourite/<%= item.id %>/execute">
		<div class="icon" data-icon="&#xe613"></div>
		<div class="name"><%= item.get('name') %></div>
	</a>
	<a class="device-option" data-id="<%= item.id %>" href="#/scene/favourite/<%= item.id %>/options"><span class="option device-icon-option device-cirle-option" data-id="" touch="true"></span></a>

</li>