<li class="scene-list-item col-xs-12 col-sm-12 col-md-12" data-id="<%= item.id %>">
	<a href="#/scene/item/<%= item.id %>/execute" class="touch-area" touch="true">
		<div class="icon" data-icon="<%= item.get('icon') %>"></div>
		<div class="name"><%= item.get('name') %></div>
	</a>
	<a class="device-option" data-id="<%= item.id %>" data-event="option"><span class="option device-icon-option device-cirle-option" data-id="" touch="true"></span></a>

</li>