<div class="container">
	<div id="rangevalue"><%= model.get('value') || 0 %></div>
	<div class="range-gp">
		<!-- meiai: range is use to pink bar in volume control -->
		<div id="range" class="range-bar"></div>
	</div>
	<section class="clear">
		<input type="range" id="slider" min="<%= model.get('extra').kbxParamMinValue %>" max="<%= model.get('extra').kbxParamMaxValue %>" step="<%= model.get('extra').kbxParamStep %>" value="<%= model.get('value') || 0 %>" class="rule-component slider-comp"></input>
	</section>
	<div class="min"><%= model.get('extra').kbxParamMinValue %></div>
	<div class="max"><%= model.get('extra').kbxParamMaxValue %></div>	
</div>

